/* @General 
* @description no specific section 
*/


.list-inline > li:first-child {
  border-right: 1px solid #dde2e6;
  border-left: none;
}

.list-inline > li:last-child {
  border-left: 1px solid #dde2e6;
  border-right: none;
}



/*
* @subsection   Postfix
* @description  Describes instant right margin classes
*/
/*
* @subsection   Prefix
* @description  Describes instant right margin classes
*/
/*
* @subsection   Insets
* @description  Describes instant padding classes
*/

@media (min-width: 992px) {
      .img-inset-1 {
        padding-left: 50px;
        padding-right: 0;
    }
}

@media (min-width: 768px) { 
  .inset-md-left {
     padding-right: 70px;
     padding-left: 0;
  }
}

/*
* @section      Helpers
* @description  This section holds various helper classes for
*               conditional page styling
*/
div.direction-md-rtl { 
  direction: ltr;
}
 
div.direction-md-rtl p { 
  direction: rtl;
}

@media (min-width: 992px) {
  div.direction-md-rtl.box-md > div.box__left { 
    padding-left: 0;
    padding-right: 30px;
  }
}
.separate:before {
    right: 50%;
    margin-right: 4.2vw;
    left: auto;
    margin-left: auto;
}

.separate:after {
    left: 50%;
    margin-left: 4.2vw;
    right: auto;
    margin-right: auto;
}

@media (min-width: 992px) {
    .btn-elements-group * + .btn {
        margin-right: 2.5vw;
        margin-left: auto;
    }
}

.btn-icon-left span.icon {
    margin-left: 15px;
    margin-right: auto;
}

.btn-icon-left.btn-xs span.icon, .btn-group-xs > .btn-icon-left.btn span.icon {
    margin-left: 10px;
    margin-right: auto;
}

.btn-icon-right span.icon {
    margin-right: 15px;
    margin-left: auto;
}

.btn-icon-right.btn-xs span.icon, .btn-group-xs > .btn-icon-right.btn span.icon {
    margin-right: 10px;
    margin-left: auto;
}


@media (max-width: 767px) {
  .clearleft [class^="col-xs-"]:nth-child(2n+1) {
    clear: right;
}
}

@media (max-width: 991px) {
  .clearleft-2 [class^="col-sm-"]:nth-child(2n+1) {
    clear: right;
}
}

.full-border [class*='col-'] + [class*='col-'] { 
  border-right: 1px solid #f3f3ed;
  border-left: none;
}

/*
* @subsection Meta
*/

/*.meta:before {
    padding-left: 11px;
    padding-right: 0;
}*/

/* Adjust the meta */

.material-icons-schedule:before {
  content: "";
}  /* added by soltan */

.material-icons-schedule:after {
  content: "\e8b5";
}  /* added by soltan */

.meta:after {
    padding-left: 11px;
    padding-right: 0;
    font-family: 'Material Icons';
    font-size: 18px;
    color: #ffae00;
    vertical-align: sub;
    line-height: 1.5;
}   /* added by soltan */

/* if u want to make also the comment icon - uncomment below */

/*.material-icons-chat_bubble_outline:after {
    content: "\e0cb";
}

.material-icons-chat_bubble_outline:before {
    content: "";
}

.badge.material-icons-chat_bubble_outline:after {
    font-family: 'Material Icons';
    color: #ffae00;
    padding-left: 5px;
    padding-right: 0;
    font-size: 18px;
    left: 0px;
    top: 0px;
    vertical-align: sub;
}*/

@media (min-width: 1200px) {
  ul.row li.clear-shortcode-xs-6:nth-child(4n+5) {
    clear: right;
}
}


@media (min-width: 992px) and (max-width: 1199px) {
  ul.row li.clear-shortcode-xs-6:nth-child(3n+4) {
    clear: right;
}
}

@media (min-width: 500px) and (max-width: 991px) {
  ul.row li.clear-shortcode-xs-6:nth-child(2n+3) {
    clear: right;
}
}

/*
* @subsection Shop
*/

.product .caption .price + .price {
    margin-right: 15px;
    margin-left: auto;
}

.single-product .rating .fa-star, .single-product .rating .fa-star-o {
    margin-right: 2px;
    margin-left: auto;
}

.single-product .rating + * {
    margin-right: 15px;
    margin-left: auto;
}

.single-product .caption * + .price {
    margin-right: 10.8%;
    margin-left: auto;
}

@media (max-width: 1199px) {
  .single-product .caption * + .price {
    margin-right: 7.8%;
    margin-left: auto;  
}
}

.single-product .caption * + .quantity {
    margin-right: 26px;
    margin-left: auto;
}

.single-product .caption .info-list {
    text-align: right;
}

.checkout .radio.inline-block + * {
    margin-right: 15px;
    margin-left: auto;
}

@media (min-width: 768px) {

    .box-skin-1.box-skin-right-offset-negative {
        margin-left: -10px;
        margin-right: auto;
    }

    .box-skin-1.box-skin-left-offset-negative {
        margin-right: -10px;
        margin-left: auto;
    }
}


/*
* @subsection   Floating System
*/

.pull-left { 
  float: right !important;
}

.pull-right {
  float: left !important;
}


@media (min-width: 480px) {
  .pull-xs-left { 
    float: right !important;
  }
  
  .pull-xs-right { 
    float: left !important;
  }
}

@media (min-width: 768px) {
  .pull-sm-left { 
    float: right !important;
  }

  .pull-sm-right { 
    float: left !important;
  }
}


@media (min-width: 992px) {
  .pull-md-left { 
    float: right !important;
  }
  .pull-md-right { 
    float: left !important;
  }
}

@media (min-width: 1200px) {
  .pull-lg-left { 
    float: right !important;
  }
 
  .pull-lg-right { 
    float: left !important;
  }
}

/*
* @subsection   Text Alignment
*/

.text-left { 
  text-align: right !important;
}

.text-right { 
  text-align: left !important;
}


@media (min-width: 480px) {
  html:not(.lt-ie10) .text-xs-left { 
    text-align: right !important;
  }
 
  html:not(.lt-ie10) .text-xs-right { 
    text-align: left !important;
  }

}


@media (min-width: 768px) {
  html:not(.lt-ie10) .text-sm-left { 
    text-align: right !important;
  }
 
  html:not(.lt-ie10) .text-sm-right { 
    text-align: left !important;
  }

}


@media (min-width: 992px) {
  html:not(.lt-ie10) .text-md-left { 
    text-align: right !important;
  }
 
  html:not(.lt-ie10) .text-md-right { 
    text-align: left !important;
  }

}


@media (min-width: 1200px) {
  html:not(.lt-ie10) .text-lg-left { 
    text-align: right !important;
  }
  
  html:not(.lt-ie10) .text-lg-right { 
    text-align: left !important;
  }

}


/*
* @section      Components
* @description  This section holds all elements style declarations of template
*/
/*
 * @subsection   Box
 */
/*
* @subsection Box
*/

.box-rtl { 
  direction: ltr;
}

.box-rtl > .box__left { 
  padding-right: 0;
  padding-left: 20px;
}

.box-rtl > .box__right {
  padding-left: 20px;
  padding-right: 0;
}

.box-ltr {
  direction: rtl;
}

.box > .box__left,
.box > .box__right,
.box > .box__body {
  direction: rtl;
}

.box > .box__left {
    padding-left: 20px;
    padding-right: 0;
}

.box > .box__right {
    padding-right: 20px;
    padding-left: 0;
}


@media (min-width: 480px) {


  html:not(.lt-ie10) .box-xs > .box__left {
       padding-left: 20px;
       padding-right: 0;
   }

    html:not(.lt-ie10) .box-xs > .box__left.box-md-inset-1 {
        padding-left: 25px;
        padding-right: 0; 
    }
    html:not(.lt-ie10) .box-xs > .box__right {
        padding-right: 20px;
        padding-left: 0;
    }



    html:not(.lt-ie10) .box-xs-rtl {
        direction: ltr;
    }

    html:not(.lt-ie10) .box-xs-rtl > .box__left {
        padding-left: 0;
        padding-right: 20px;
    }

    html:not(.lt-ie10) .box-xs-rtl > .box__right {
        padding-left: 20px;
        padding-right: 0;
    }
    html:not(.lt-ie10) .box-xs-ltr {
        direction: rtl;
    }

    html:not(.lt-ie10) .box-xs-ltr > .box__left {
        padding-left: 20px;
        padding-right: 0;
    }
    html:not(.lt-ie10) .box-xs-ltr > .box__right {
        padding-left: 0;
        padding-right: 20px
    }
}


@media (min-width: 768px) {

  html:not(.lt-ie10) .box-sm > .box__left {
        padding-left: 20px;
        padding-right: 0;
  }
  html:not(.lt-ie10) .box-sm > .box__left.box-md-inset-1 {
        padding-left: 25px;
        padding-right: 0;
    }
  html:not(.lt-ie10) .box-sm > .box__right {
    padding-right: 20px;
    padding-left: 0;
  }
 
  
  html:not(.lt-ie10) .box-sm-rtl {
    direction: ltr;
  }
  html:not(.lt-ie10) .box-sm-rtl > .box__left {
    padding-left: 0;
    padding-right: 20px;
  }
  html:not(.lt-ie10) .box-sm-rtl > .box__right {
     padding-left: 20px;
     padding-right: 0;
  }
  html:not(.lt-ie10) .box-sm-ltr {
    direction: rtl;
  }
  html:not(.lt-ie10) .box-sm-ltr > .box__left {
    padding-left: 20px;
    padding-right: 0;
  }
  html:not(.lt-ie10) .box-sm-ltr > .box__right {
    padding-left: 0;
    padding-right: 20px;
  }
}

@media (min-width: 992px) {

  html:not(.lt-ie10) .box-md > .box__left {
    padding-left: 20px;
    padding-right: 0;
  }
  html:not(.lt-ie10) .box-md > .box__left.box-md-inset-1 {
        padding-left: 25px;
        padding-right: 0;
    }
  html:not(.lt-ie10) .box-md > .box__right {
    padding-right: 20px;
    padding-left: 0;
  }
  

  html:not(.lt-ie10) .box-md-rtl {
    direction: ltr;
  }
  html:not(.lt-ie10) .box-md-rtl > .box__left {
     padding-left: 0;
     padding-right: 20px;
  }
  html:not(.lt-ie10) .box-md-rtl > .box__right {
    padding-left: 20px;
    padding-right: 0;
  }
  html:not(.lt-ie10) .box-md-ltr {
    direction: rtl;
  }
  html:not(.lt-ie10) .box-md-ltr > .box__left {
    padding-left: 20px;
    padding-right: 0;
  }
  html:not(.lt-ie10) .box-md-ltr > .box__right {
    padding-left: 0;
    padding-right: 20px;
  }
}

@media (min-width: 1200px) {

  html:not(.lt-ie10) .box-lg > .box__left {
    padding-left: 20px;
    padding-right: 0;
  }
  html:not(.lt-ie10) .box-lg > .box__left.box-md-inset-1 {
    padding-left: 25px;
    padding-right: 0;
  }
  html:not(.lt-ie10) .box-lg > .box__right {
    padding-right: 20px;
    padding-left: 0;
  }
  
  html:not(.lt-ie10) .box-lg-rtl {
    direction: ltr;
  }
  html:not(.lt-ie10) .box-lg-rtl > .box__left {
    padding-left: 0;
    padding-right: 20px;
  }
  html:not(.lt-ie10) .box-lg-rtl > .box__right {
    padding-left: 20px;
    padding-right: 0;
  }
  html:not(.lt-ie10) .box-lg-ltr {
    direction: rtl;
  }
  html:not(.lt-ie10) .box-lg-ltr > .box__left {
    padding-left: 20px;
    padding-right: 0;
  }
  html:not(.lt-ie10) .box-lg-ltr > .box__right {
    padding-left: 0;
    padding-right: 20px;
  }
}

/*
* @subsection   Quote
*/
/*
* @subsection   Pricing Box
*/

.pricing-box h1.h1__before {
    padding-right: 26px;
    padding-left: 0;
}

.pricing-box h1.h1__before:before {
    right: 0;
    left: auto;
}

.pricing-box-3 h2 sup {
    margin-left: 5px;
    margin-right: auto;
}

@media (min-width: 1200px) {
  .pricing-border-left [class*='col-'] + [class*='col-']:before {
    right: 0;
    left: auto;
  }
}

@media (min-width: 768px) {
  .pricing-border-left .col-sm-6:nth-child(2n + 2):before {
    right: 0;
    left: auto;
  }
}

#svg-phone_1 {
    right: 50%;
    left: auto;
}

/*
* @subsection   Post
*/
/*
* @flex   List
*/

@media (max-width: 991px) {
  .flex-list > li {
    float: right;
  }
}

/*
* @subsection   Inline List
*/
/*
* @subsection   Search-results-list
*/

.search-results-list > li:before, .search-results-list > li.col-xs-12:before {
   right: 15px;
    left: auto;
}

/*
* @subsection   Marked List
*/


.marked-list {
  text-align: right;
}

.marked-list > li {
    padding-right: 30px;
    padding-left: 0;
}

.marked-list > li:before {
    content: "\e5cb";
    right: 0;
    left: auto;
}

/*
* @subsection   Ordered List
*/

.ordered-list {
    text-align: right;
    padding-right: 15px;
    padding-left: 0;
}

.ordered-list > li {
    padding-right: 20px;
    padding-left: 0;
}

/*
* @subsection   Thumb
*/

.thumb__overlay {
    right: 0;
    left: 0;
}


/*
* @subsection   Blog
*/

@media (min-width: 768px) {
  .blog-info * + .badge,
  .blog-info * + .tags {
    margin-right: 15px;
    margin-left: auto; 
  }
}

@media (min-width: 1200px) {
  .blog-info * + .badge,
  .blog-info * + .tags {
     margin-right: 54px;
     margin-left: auto; 
  }
}

.blog-info .badge + .post-tag {
    margin-right: 10px;
    margin-left: auto; 
}

.blog-info * + .btn-link {
  float: left;
}

@media (min-width: 480px) {
  .blog-info time + .author {
        margin-right: 20px;
        margin-left: auto; 
    }
}

.btn-link.fa-angle-left {
    padding-right: 24px;
    padding-left: 0;
}

.btn-link.fa-angle-left:before {
    right: 0;
    left: auto;
}

.btn-link.fa-angle-right {
  padding-left: 24px;
  padding-right: auto;
}

.btn-link.fa-angle-right:before {
   left: 0;
    right: auto;
}

.post-tag + .post-tag {
    margin-right: 10px;
    margin-left: auto;
}

.timeline:before {
    right: 15px;
    left: auto;
}

@media (min-width: 768px) {
  .timeline:before {
    right: 50%;
    margin-right: -370px;
    margin-left: auto;
    left: auto;
  }
}

@media (min-width: 992px) {
    .timeline:before {
        right: calc(50% - 1px);
        margin-right: 0;
        left: auto;
        margin-left: auto;
    }
}

.timeline article {
    padding-right: 30px;
    padding-left: 0;
}

.timeline article:before {
    right: 0;
    left: auto;
}

@media (min-width: 992px) {
     .timeline article:before {
        right: auto;
        left: -25%;
    }
}

.timeline article:after {
    right: -8px;
    left: auto;
}


@media (min-width: 992px) {
    .timeline article:after {
        right: auto;
        left: -27.8%;
    }
}

@media (min-width: 1200px) {
 .timeline article:after {
        left: -26.2%;
        right: auto;
    }
}

@media (min-width: 768px) {
  .timeline {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 992px) {

  .timeline [class*='col-'].timeline-right article:before {
    right: -25%;
    left: auto;
  }
  .timeline [class*='col-'].timeline-right article:after {
    right: -27.8%;
    left: auto;
  }
}

@media (min-width: 992px) and (min-width: 1200px) {
  .timeline [class*='col-'].timeline-right article:after {
     right: -26.2%;
     left: auto;
    }
}

/*
* @subsection  Comments
*/

.comments blockquote {
  text-align: right;
}

.comments .box__body {
    padding: 20px 30px 25px 42px;
}

.comments .box__body:before {
    right: -10px;
    border-left: 11px solid #fff;
    left: auto;
    border-right: none;
}

.comments .box__body .follow {
    left: 20px;
    right: auto;
}

.comments .box__body .follow:after {
    left: 0;
    right: auto;
}

.comments .box__body.comments-rating .rating + * {
    margin-right: 0;
    margin-left: auto;
}

.comments .box__body.comments-rating * + .rating {
    margin-right: 20px;
    margin-left: auto;
}

@media (max-width: 550px) {
    .comments .box__body.comments-rating * + .rating {
        margin-right: 0;
        margin-left: auto;
    }
}

.comments .back-comment:before,
.comments .back-comment:after {
    border-right: 1px solid #ebebeb;
    left: 103%;
    right: auto;
    border-left: none;
}


/*
* @subsection   Counter
*/

.counter-panel [class*='col-'] + [class*='col-'] {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-left: none;
}


/*
* @subsection   Video
*/

.video > iframe {
    right: 0;
    left: auto;
}

.icon-short-code .box__body {
    text-align: right;
}


/*
* @section      Extensions
* @description  This section holds some of style declarations for necessary
*               scripts
*/
/*
* @subsection   RD Navbar
*
* @description  Describes style declarations for RD Navbar extension
*
* @author       Evgeniy Gusarov
* @link         https://ua.linkedin.com/pub/evgeniy-gusarov/8a/a40/54a
* @version      2.0.0
*/

/*
* @subsection General Styles
*/

.rd-navbar-toggle span:after,
.rd-navbar-toggle span:before {
    right: 0;
    left: auto;
}


@media (min-width: 768px) {
    .rd-navbar-toggle span:after,
      .rd-navbar-toggle span:before {
        right: 0;
        left: auto;
    }

  
}

.rd-navbar-toggle.active span:after,
.rd-navbar-toggle.active span:before {
    right: auto !important;
} /* By Soltan - for adjusting arabic toggle*/

.rd-navbar-collapse-toggle span, .rd-navbar-collapse-toggle span:before, 
.rd-navbar-collapse-toggle span:after {
    right: 50%;
    margin-right: -3px;
    left: auto;
    margin-left: auto
}

.rd-navbar-nav .rd-navbar-dropdown .marked {
    float: left;
    margin-left: 5px;
    margin-right: auto;
}

.rd-navbar-nav .rd-navbar-dropdown .marked:before {
    left: 100%;
    border-left: 7px solid #e75854;
    right: auto;
    border-right: none;
}

a.material-icons-language {
    float: left;
    left: 5px; /* By soltan */
    right: auto;
}

.rd-navbar-search-toggle:before, .rd-navbar-search-toggle:after {
    right: 0;
    left: auto;
}

.rd-navbar-search-results .search_list li {
    padding-right: 50px;
    padding-left: 0;
}

.rd-navbar-search-results .search_list li:before {
    right: 20px;
    left: auto;
}

.rd-navbar-live-search-results {
    left: 0px;
    text-align: right;
    right: auto;
}

.rd-navbar-live-search-results .search-quick-result {
    padding-right: 8px;
    padding-left: 0;
}

.rd-navbar--has-sidebar body {
    padding-right: 270px;
    padding-left: 0;
}

/*
* @subsection   Hybrid  Styles
*/

.rd-navbar-static .rd-navbar-search-form-input input, .rd-navbar-sidebar .rd-navbar-search-form-input input, .rd-navbar-fullwidth .rd-navbar-search-form-input input {
    padding: 7px 18px 7px 40px;
}

.rd-navbar-static .rd-navbar-search-form-submit, .rd-navbar-sidebar .rd-navbar-search-form-submit, .rd-navbar-fullwidth .rd-navbar-search-form-submit {
    left: 0;
    right: auto;
}

.rd-navbar-static .rd-navbar-nav, .rd-navbar-fullwidth .rd-navbar-nav {
    margin-left: 0;
    margin-right: auto;
}

@media (min-width: 1200px) {
  .rd-navbar-static .rd-navbar-nav, .rd-navbar-fullwidth .rd-navbar-nav {
        margin-left: 8.5%;
        margin-right: auto;
      }
}

.rd-navbar-static:after, .rd-navbar-fullwidth:after {
    left: 0;
    right: 0;
}

.rd-navbar-static .rd-navbar-nav-wrap, .rd-navbar-fullwidth .rd-navbar-nav-wrap {
    padding-left: 100px;
    padding-right: 0;
}


.rd-navbar-static .rd-navbar-inner, .rd-navbar-fullwidth .rd-navbar-inner {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.rd-navbar-static .rd-navbar-nav > li > .rd-navbar-dropdown, 
.rd-navbar-fullwidth .rd-navbar-nav > li > .rd-navbar-dropdown {
    text-align: right;
    right: 50%;
    margin-right: -135px;
    left: auto;
    margin-left: auto;
}


@media (max-width: 991px) {
  .rd-navbar-static .rd-navbar-nav > li:nth-last-child(1) > 
  .rd-navbar-dropdown, .rd-navbar-fullwidth .rd-navbar-nav > li:nth-last-child(1) >
   .rd-navbar-dropdown {
    right: 20%;
    left: auto;
  }
}

@media (max-width: 991px) {
  .rd-navbar-static .rd-navbar-nav > li:nth-last-child(2) >
   .rd-navbar-dropdown, .rd-navbar-fullwidth .rd-navbar-nav > li:nth-last-child(2) >
    .rd-navbar-dropdown {
        right: 80%;
        left: auto;
  }
}

.rd-navbar-static .rd-navbar-dropdown, .rd-navbar-fullwidth .rd-navbar-dropdown {
    padding: 23px 20px 28px 5px;
}


.rd-navbar-static .rd-navbar-dropdown span.fa-angle-right, 
.rd-navbar-fullwidth .rd-navbar-dropdown span.fa-angle-right {
  float: left;
}

.rd-navbar-static .rd-navbar-dropdown .rd-navbar-dropdown, 
.rd-navbar-fullwidth .rd-navbar-dropdown .rd-navbar-dropdown {
      padding: 0 20px 0 0;
}

.rd-navbar-static .rd-navbar-megamenu, .rd-navbar-fullwidth .rd-navbar-megamenu {
    text-align: right;
    right: -28px;
    left: -28px;
}

@media (max-width: 1300px) {
  .rd-navbar-static .rd-navbar-megamenu, .rd-navbar-fullwidth .rd-navbar-megamenu {
    left: 15px;
    right: 15px;
  }
}

.rd-navbar-static .rd-navbar-megamenu > li, .rd-navbar-fullwidth .rd-navbar-megamenu > li {
    padding: 41px 41px 41px 20px;
}

.rd-navbar-static .rd-navbar-megamenu > li + li, .rd-navbar-fullwidth .rd-navbar-megamenu > li + li {
   padding-right: 10px;
    padding-left: 0;
}

.rd-navbar-static .rd-navbar-megamenu > li + li:before, .rd-navbar-fullwidth .rd-navbar-megamenu > li + li:before {
    left: 100%;
    margin-left: 17px;
    right: auto;
    margin-right: auto;
}

.rd-navbar-static .rd-navbar-search-form, .rd-navbar-fullwidth .rd-navbar-search-form {
    left: 0;
    right: auto;
}

.rd-navbar-static .rd-navbar-search-form:before, 
.rd-navbar-fullwidth .rd-navbar-search-form:before {
    right: 50%;
    left: auto;
}

.rd-navbar-static .rd-navbar-search-form:before, 
.rd-navbar-fullwidth .rd-navbar-search-form:before {
    right: auto;
    left: 100%;
    background: none; /* By Soltan */
}

.rd-navbar-static .rd-navbar-search-form:after, 
.rd-navbar-fullwidth .rd-navbar-search-form:after {
  right: 100%;
  left: auto;
}

.rd-navbar-static .rd-navbar-search-form-submit, 
.rd-navbar-fullwidth .rd-navbar-search-form-submit {
    left: 15px;
    right: auto;
}

.rd-navbar-static .rd-navbar-search-toggle, .rd-navbar-fullwidth .rd-navbar-search-toggle {
    left: 53px;
    right: auto;
}

@media (min-width: 1200px) {
  .rd-navbar-static .rd-navbar-search-toggle, .rd-navbar-fullwidth .rd-navbar-search-toggle {
        left: 43px;
        right: auto;
    }
}

.rd-navbar-fixed .rd-navbar-collapse-items .icon, 
.rd-navbar-fixed .rd-navbar-collapse-items a[class*="fa"]:before,
 .rd-navbar-sidebar .rd-navbar-collapse-items .icon, .rd-navbar-sidebar
  .rd-navbar-collapse-items a[class*="fa"]:before {
    padding-left: 5px;
    padding-right: 0;
}


/*.rd-navbar-fixed .rd-navbar-nav,
.rd-navbar-sidebar {
    right: 0;
    left: auto;
} by soltan fix position of the menu in rtl mobile*/

.rd-navbar-fixed.active .rd-navbar-nav,
.rd-navbar-sidebar {
    right: 0;
    left: auto;
} /* by soltan fix position of the menu in rtl mobile */

.rd-navbar-sidebar {
  padding-left: 45px;
  padding-right: 0;
}

.rd-navbar-fixed .rd-navbar-nav p,
.rd-navbar-sidebar .rd-navbar-nav p {
    padding: 5px 15px 5px 40px;
}

.rd-navbar-fixed .rd-navbar-nav p > a,
.rd-navbar-sidebar .rd-navbar-nav p > a {
    margin: -5px -15px -5px -40px;
    padding: 5px 15px 5px 40px;
}

.rd-navbar-fixed .rd-navbar-nav .rd-navbar-submenu.opened .rd-navbar-dropdown,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-submenu.opened .rd-navbar-dropdown {
    margin-right: -15px;
    margin-left: auto;
}

.rd-navbar-fixed .rd-navbar-nav li,
.rd-navbar-sidebar .rd-navbar-nav li {
    padding-right: 15px;
    padding-left: 0;
}

.rd-navbar-fixed .rd-navbar-nav li .rd-navbar-submenu-toggle,
.rd-navbar-sidebar .rd-navbar-nav li .rd-navbar-submenu-toggle {
    left: 5px;
    right: auto;
}

.rd-navbar-fixed .rd-navbar-nav li .rd-navbar-submenu-toggle:before,
.rd-navbar-sidebar .rd-navbar-nav li .rd-navbar-submenu-toggle:before {
    right: 0px;
    left: 0;
}

.rd-navbar-fixed .rd-navbar-nav li li > a,
.rd-navbar-sidebar .rd-navbar-nav li li > a {
    padding-right: 20px;
    padding-left: 0;
}

.rd-navbar-fixed .rd-navbar-nav li > a,
.rd-navbar-sidebar .rd-navbar-nav li > a {
    padding: 5px 15px 5px 40px;
    padding-right: 0;
    padding-left: 0;
}

.rd-navbar-fixed .rd-navbar-nav li > a .rd-navbar-submenu-toggle,
.rd-navbar-sidebar .rd-navbar-nav li > a .rd-navbar-submenu-toggle {
    left: 3px;
    right: auto;
}

.rd-navbar-fixed .rd-navbar-nav .rd-navbar-dropdown > li > a,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-dropdown > li > a {
    padding-right: 30px;
    padding-left: 0;
}

.rd-navbar-fixed .rd-navbar-nav .rd-navbar-dropdown ul > li > a,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-dropdown ul > li > a {
    padding-right: 40px;
    padding-left: 0;
}

.rd-navbar-fixed .rd-navbar-nav .rd-navbar-megamenu p,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-megamenu p {
    padding-right: 30px;
    padding-left: 0;
}

.rd-navbar-fixed .rd-navbar-nav .rd-navbar-megamenu ul > li > a,
.rd-navbar-sidebar .rd-navbar-nav .rd-navbar-megamenu ul > li > a {
    padding-right: 40px;
    padding-left: 0;
}

.rd-navbar-static .rd-navbar-dropdown, .rd-navbar-fullwidth .rd-navbar-dropdown {
    right: 119%;
    left: auto;
}

.rd-navbar-static .rd-navbar-panel {
    text-align: right;
}

.rd-navbar-static .rd-navbar-nav-wrap {
  text-align: left;
}

.rd-navbar-static .rd-navbar-nav {
    margin-right: -2.9%;
    margin-left: auto;
}

.rd-navbar-static .rd-navbar-nav > li {
    margin-right: 2.9%;
    margin-left: auto;
}

@media (max-width: 1199px) {
  .rd-navbar-static .rd-navbar-nav {
        margin-right: -5%;
        margin-left: auto;
    }
  .rd-navbar-static .rd-navbar-nav > li {
        margin-right: 3%;
        margin-left: auto;
  }
}

/*
* Fullwidth Layout
*/

.rd-navbar-fullwidth .rd-navbar-nav-wrap {
    padding-left: 0px;
    padding-right: 0;
}

.rd-navbar-fullwidth a.material-icons-language {
    left: 8px;
    right: auto;
}

.rd-navbar-fullwidth .rd-navbar-nav {
    margin-left: 0;
    margin-right: auto;
}

.rd-navbar-fullwidth .rd-navbar-nav > li + li {
    margin-right: 35px;
    margin-left: auto;
}

/*
* Fixed Layout
*/

.rd-navbar-fixed .rd-navbar-brand {
    padding-right: 4px;
    padding-left: 0;
}

.rd-navbar-fixed .rd-navbar-toggle {
    float: right;
}

.rd-navbar-fixed .rd-navbar-collapse {
    left: 4px;
    right: auto;
}

.rd-navbar-fixed .rd-navbar-collapse-items {
    left: 0;
    right: auto;
}

.rd-navbar-fixed .rd-navbar-top-panel a.fa-envelope.active, 
.rd-navbar-fixed .rd-navbar-top-panel a.fa-phone.active {
    left: 14px; /* Edited By Soltan */
    right: auto;
    padding: 5px 0; /* added by soltan */

}

.rd-navbar-fixed .rd-navbar-top-panel a.fa-phone.active {
    left: 14px; /* Edited By Soltan */
    right: auto;
}

.rd-navbar-fixed .rd-navbar-top-panel .list-inline {
    text-align: right;
    left: 0;
    right: auto;
}

.rd-navbar-fixed a.material-icons-language {
    left: -14px; /* Edited by soltan */
    right: auto;
}

.rd-navbar-fixed a.material-icons-language:before {
    color: #ffae00;
} /* Added by soltan */

.rd-navbar-fixed a.material-icons-language:after {
    padding-right: 10px;
    padding-left: 0;
}

.rd-navbar-fixed .rd-navbar-search-form, .rd-navbar-fixed .rd-navbar-search-toggle {
    left: 38px;
    right: auto;
}


.rd-navbar-fixed .rd-navbar-search-form, .rd-navbar-fixed .rd-navbar-search .rd-navbar-live-search-results {
  margin-left: 0;
  margin-right: auto;
}

.rd-navbar-fixed .rd-navbar-search-form {
    right: 56px;
    left: auto;
}


.rd-navbar-fixed .rd-navbar-search-form-input input {
    padding: 0 20px 0 48px;
}


.rd-navbar-fixed .rd-navbar-search-form-submit {
    left: 0;
    right: auto;
}

@media (min-width: 992px) {
  .rd-navbar-fixed .rd-navbar-search .rd-navbar-live-search-results {
    left: 4px;
    right: auto;
  }
}


.rd-navbar-fixed .rd-navbar-collapse-toggle {
    left: 2px;
    right: auto;
}


/*
* Sidebar Layout
*/

.rd-navbar-sidebar a.material-icons-language {
    left: 7px;
    right: auto;
}


.rd-navbar-sidebar .rd-navbar-toggle {
    left: 0;
    right: auto;
}

.rd-navbar-sidebar.active {
    padding-left: 4px;
    padding-right: 0;
}

.rd-navbar-sidebar.active .rd-navbar-toggle {
    left: 0;
    right: auto;
}

.rd-navbar-sidebar .rd-navbar-brand {
    padding: 10% 0 10% 10%;
}


.rd-navbar-sidebar .rd-navbar-collapse-items {
    right: 0;
    left: auto;
}

.rd-navbar-sidebar .rd-navbar-collapse {
    right: 4px;
    left: auto;
}

/*
* @subsection   Page boxed layout style redeclaration
*
* @description  Redefines navbar style inside boxed layout
*
* @see          ../modules/_page-layouts.scss
*/

html.boxed.rd-navbar--has-sidebar body {
    padding-right: 300px;
    padding-left: 30px;
}


html.boxed .rd-navbar--is-clone {
    margin-right: auto;
    margin-left: auto;
}


.rd-navbar-top-panel a.fa-envelope, .rd-navbar-top-panel a.fa-phone {
    border-right: 1px solid #dde2e6;
    padding-right: 17px;
    padding-left: 17px;
}

.rd-navbar-top-panel a.fa-envelope:before, .rd-navbar-top-panel a.fa-phone:before {
    padding-left: 10px;
}

.rd-navbar-top-panel a.fa-phone {
    border-left: 1px solid #dde2e6;
    border-right: none;
}

.toggles-none .rd-navbar-nav {
    margin-left: 0;
    margin-right: auto;
}

.toggles-none .rd-navbar-nav-wrap {
    padding-left: 15px;
    padding-right: 0;
}

.minimal .rd-navbar-nav {
    margin-left: 0;
    margin-right: auto;
}

.minimal .rd-navbar-nav-wrap {
    padding-left: 15px;
    padding-right: 0;
}

.minimal .rd-navbar-nav > li {
    margin-right: 5.2%;
    margin-left: auto;
}

/*========================================================
                      Contact Form
=========================================================*/
/* MF
========================================================*/

.rd-mailform {
    text-align: right;
    margin-right: auto;
    margin-left: auto;
}

@-webkit-keyframes zoom-in-state-2 {
  0% {
    -webkit-transform: scale(0) rotate(-35deg);
    transform: scale(0) rotate(-35deg);
  }
  100% {
    right: 50%;
    left: auto;
    -webkit-transform: scale(1) rotate(150deg);
    transform: scale(1) rotate(150deg);
  }
}

@-webkit-keyframes line {
  0% {
    right: 40%;
    left: auto;
  }
  100% {
    right: 40%;
    left: auto;
    width: 40%;
  }
}

@-moz-keyframes anim-1 {
  0% {
    right: 50%;
    left: auto;
  }
  100% {
    right: 90%;
    left: auto;
  }
}

@-moz-keyframes anim-3 {
  0% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    right: 50%;
    left: auto;
  }
  50% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    right: 90%;
    left: auto;
  }
  100% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    right: 50%;
    left: auto;
  }
}

@-moz-keyframes line {
  0% {
    right: 40%;
    left: auto;
  }
  100% {
    right: 40%;
    left: auto;
    width: 40%;
  }
}

@-o-keyframes anim-1 {
  0% {
    right: 50%;
    left: auto;
  }
  100% {
    right: 90%;
    left: auto;
  }
}

@-o-keyframes anim-3 {
  0% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    right: 50%;
    left: auto;
  }
  50% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    right: 90%;
    left: auto;
  }
  100% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    right: 50%;
    left: auto;
  }
}

@-o-keyframes zoom-in-state-2 {
  0% {
    -webkit-transform: scale(0) rotate(-35deg);
    transform: scale(0) rotate(-35deg);
  }
  100% {
    right: 50%;
    left: auto;
    -webkit-transform: scale(1) rotate(150deg);
    transform: scale(1) rotate(150deg);
  }
}

@-o-keyframes line {
  0% {
    right: 40%;
    left: auto;
  }
  100% {
    right: 40%;
    left: auto;
    width: 40%;
  }
}

@keyframes anim-1 {
  0% {
    right: 50%;
    left: auto;
  }
  100% {
    right: 90%;
    left: auto;
  }
}

@keyframes anim-3 {
  0% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    right: 50%;
    left: auto;
  }
  50% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    right: 90%;
    left: auto;
  }
  100% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    right: 50%;
    left: auto;
  }
}

@keyframes line {
  0% {
    right: 40%;
    left: auto;
  }
  100% {
    right: 40%;
    left: auto;
    width: 40%;
  }
}


@-ms-keyframes anim-1 {
  0% {
    right: 50%;
    left: auto;
  }
  100% {
    right: 90%;
    left: auto;
  }
}

@-ms-keyframes anim-3 {
  0% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    right: 50%;
    left: auto;
  }
  50% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    right: 90%;
    left: auto;
  }
  100% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    right: 50%;
    left: auto;
  }
}

@-ms-keyframes zoom-in-state-2 {
  0% {
    -webkit-transform: scale(0) rotate(-35deg);
    transform: scale(0) rotate(-35deg);
  }
  100% {
    right: 50%;
    left: auto;
    -webkit-transform: scale(1) rotate(150deg);
    transform: scale(1) rotate(150deg);
  }
}

@-ms-keyframes line {
  0% {
    right: 40%;
    left: auto;
  }
  100% {
    right: 40%;
    left: auto;
    width: 40%;
  }
}


/* Mail Form PlaceHolder
========================================================*/

.mfPlaceHolder {
    right: 0;
    padding: 16px 25px 16px 15px;
    left: auto;
}

/* Mail Form Validation
  ========================================================*/

  .mfValidation {
    text-align: left;
    right: auto;
    left: 40px;
}

.mfValidation:hover {
    left: 35px;
    right: auto;
}

/*
* MF Submit
*/

.mfInfo,
.mfProgress {
    right: 50%;
    margin-right: -115px;
    left: auto;
    margin-left: auto;
}

.mfInfo .loader,
.mfProgress .loader {
    float: right;
    margin-left: 15px;
    margin-right: auto;
}

.mfInfo .loader:before,
.mfInfo .loader:after,
.mfProgress .loader:before, .mfProgress .loader:after {
    right: 0;
    left: auto;
}

/*
* @subsection   RD Parallax
*
* @description  Describes style declarations for RD Parallax extension
*
* @author       Evgeniy Gusarov
* @link         https://ua.linkedin.com/pub/evgeniy-gusarov/8a/a40/54a
* @version      3.5.0
*/

/**
 * @subsection   Swiper 3.1.7
 * @description  Most modern mobile touch slider and framework with
 *               hardware accelerated transitions
 * @author       Vladimir Kharlampidi
 * @see          http://www.idangero.us/swiper/
 * @licesne      MIT License
 */

 .swiper-wrapper {
    right: 0;
    left: auto;
}

.swiper-container .swiper-notification {
    right: 0;
    left: auto;
}

.swiper-button-prev {
    right: 3.5%;
    left: auto;
}

.swiper-button-next {
    left: 3.5%;
    right: auto;
}

.swiper-container-vertical > .swiper-pagination {
    left: 10px;
    right: auto;
}

.swiper-container-horizontal > .swiper-pagination {
    right: 0;
    left: auto;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
    right: 0;
    left: auto;
}

.swiper-container-cube .swiper-cube-shadow {
    right: 0;
    left: auto;
}

.swiper-container-vertical > .swiper-scrollbar {
    left: 3px;
    right: auto;
}

.swiper-scrollbar-drag {
    right: 0;
    left: auto;
}

.swiper-lazy-preloader {
    right: 50%;
    margin-right: -21px;
    left: auto;
    margin-left: auto;
}

.swiper-slide-caption .btn + .btn {
    margin-right: 20px;
    margin-left: auto;
}

.swiper-container {
    margin-right: auto;
    margin-left: auto;
}


/*
* @subsection   ToTop
* @license      MIT license - http://opensource.org/licenses/MIT
* @version      1.0.0
*/

.ui-to-top {
    left: 15px;
    right: auto;
}

/*
* @subsection   Progress Bar
*/

/*.progress-bar-custom .progress-bar__body {
    left: 50%;
    right: auto;
} Fixed the progress bar*/

.progress-bar-horizontal {
  text-align: right;
}

.progress-bar-horizontal .progress-bar__body {
    left: 0;
    right: auto;
}

.progress-bar-radial > svg {
    right: 0;
    left: auto;
}


/*
* @subsection   Easy Responsive Tabs
*
* @description  Describes style declarations for Easy Responsive Tabs extension
*
* @author       Samson Onna
* @link         samson3d@gmail.com
* @version      1.0.0
*/

.responsive-tabs .resp-tabs-list > li:before {
    left: 100%;
    margin-left: -2px;
    right: auto;
    margin-right: auto;
}

.responsive-tabs .resp-tabs-list > li:after {
    right: 100%;
    margin-right: -2px;
    left: auto;
    margin-left: auto;
}

.resp-easy-accordion .resp-arrow {
    right: 17px;
    left: auto;
}

.resp-easy-accordion .resp-accordion {
    padding-right: 53px;
    padding-left: 15px;
}

.resp-easy-accordion .resp-accordion > .btn {
    text-align: right;
}

.resp-easy-accordion .resp-tab-content {
    padding-right: 53px;
    padding-left: 15px;
}

/* 
 *  Owl Carousel - Animate Plugin
 */

 .owl-carousel.owl-theme.owl-loaded {
    direction: ltr;
 } /* added by soltan to fix owl */ 

.owl-carousel.owl-theme.owl-loaded blockquote {
    border: none;
} /* added by soltan to fix block quote border */ 

 .owl-carousel .owl-item {
    float: right;
}

.owl-carousel.owl-rtl {
  direction: ltr;
}

.owl-carousel.owl-rtl .owl-item {
  float: left;
}


/* 
 *  Owl Carousel - Video Plugin
 */

 .owl-carousel .owl-video-play-icon {
    right: 50%;
    margin-right: -40px;
    left: auto;
    margin-left: auto;
}


/*
 * Owl Navigation
 */

/* .owl-next {
    margin-right: 25px;
    margin-left: auto;
} edited by soltan to fix owl nav*/


/*
 * Owl Pagination
 */

 .owl-dots {
    margin-right: -16px;
    margin-left: auto;
}

.owl-dot {
    margin-right: 16px;
    margin-left: auto;
}


/*
* @subsection   Countdown
*/

.countdown-section {
    float: right;
}

/*
* @subsection   Isotope
*/

[data-isotope-layout]:after {
    right: 50%;
    left: auto;
}

.isotope-filters .inline-list li + li {
    margin-right: 0;
    margin-left: auto;
}

@media (max-width: 991px) {
 
      .isotope-filters .inline-list {
        right: 50%;
        margin-right: 0;
        left: auto;
        margin-left: auto;
    }

  .isotope-filters .inline-list > li {
    display: block;
    margin-top: 0;
    margin-left: 0;
  }

      .isotope-filters .inline-list > li {
        margin-right: 0;
        margin-left: auto;
    }
}

/*
* @subsection   Magnific Popup
*/

.mfp-bottom-bar {
  direction: ltr;
}

.mfp-bg {
    right: 0;
    left: auto;
}

.mfp-wrap {
    right: 0;
    left: auto;
}

.mfp-content {
    text-align: right;
}

.mfp-close {
    left: 0;
    padding: 0 10px 18px 0;
    right: auto;
}
 

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    left: -6px;
    text-align: left;
    padding-left: 6px;
    right: auto;
    padding-right: 0;
}

.mfp-counter {
    left: 0;
    right: auto;
}

.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
    right: 0;
    margin-right: 35px;
    left: auto;
    margin-left: auto;
}


.mfp-arrow-left {
    right: 0;
    left: auto;
}

.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
   border-left: 17px solid #FFF;
    margin-right: 31px;
    margin-left: auto;
    border-right: none;
}

.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
    margin-right: 25px;
    border-left: 27px solid #3F3F3F;
    margin-left: auto;
    border-right: none;
}

.mfp-arrow-right {
    left: 0;
    right: auto;
}

.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
    border-right: 17px solid #FFF;
    margin-right: 39px;
    margin-left: auto;
    border-left: none;
}

.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
    border-right: 27px solid #3F3F3F;
    border-left: none;
}

.mfp-iframe-scaler iframe {
    right: 0;
    left: auto;
}

/* The shadow behind the image */
.mfp-bottom-bar {
    right: 0;
    left: auto;
}

.mfp-title {
    text-align: right;
    padding-left: 36px;
    padding-right: 0;
}


@media screen and (max-width: 800px) and (orientation: landscape), 
screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
 
     .mfp-img-mobile .mfp-figure small {
        margin-right: 5px;
        margin-left: auto;
    }
  
     .mfp-img-mobile .mfp-counter {
        left: 5px;
        right: auto;
    }

     .mfp-img-mobile .mfp-close {
        left: 0;
        right: auto;
    }
}

.mfp-ie7 .mfp-bottom-bar {
    right: 50%;
    margin-right: -300px;
    left: auto;
    margin-left: auto;
}

.mfp-ie7 .mfp-close {
    left: 0;
    right: auto;
}


/*
* @section      Page Header
* @description  This section holds specific style redeclarations for some
*               of common elements in page header
*/


/*
* @section      Page Content
* @description  This section holds specific style redeclarations for some
*               of common elements in page content
*/
/*
* @section      Page Footer
* @description  This section holds specific style redeclarations for some
*               of common elements in page footer
*/

.page-footer.footer-widget .footer-content .count + .count {
    margin-right: 24px;
    margin-left: auto;
}

@media (min-width: 1200px) {
     .page-footer.footer-widget .footer-content form input {
        padding-left: 160px;
        padding-right: 25px;
    }
}

@media (min-width: 1200px) {
  .page-footer.footer-widget .footer-content form button {
    left: 0;
    right: auto;
    }
}

.page-footer.footer-widget .footer-content .socials a {
    text-align: right;
}

.page-footer.footer-widget .footer-content .socials a:after {
    padding-right: 17px;
    padding-left: 0;
}

.page-footer.footer-widget .footer-content .socials a.fa-rss {
    margin-right: 57px;
    margin-left: auto;
}

/* DONE */

